/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# gem versions (may move to a folder later)
nando*.gem

# test db/migrate folder (may remove later
/db/

.byebug_history